<h1>
    {{question.question_text}}
</h1>
{% if error_message %}
<p>
    <strong>{{ error_message  }}</strong>
</p>
{% endif %}

<form action= "{% url 'polls:votes_count' question.id %}" method = "POST" >
{# csrf_token in used to prevent csrf attack #}
{% csrf_token %}
{% for options in question.options_set.all %}
    <input type = "radio" name = "options" id = "options{{forloop.counter}}" value="{{options.id}}">
    <label for = "choice{{ forloop.counter }}" >{{ options.option_text1 }}</label>

<br>
<br>
{% endfor %}
<input type = "submit" value = "vote">

</form>